<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<p><a href="/">root/</a></p>
<p><a href="/submissions">root/submissions/</a></p>
<p><a href="/problems/">root/problems/</a></p>
<p><a href="/contests/">root/contests/</a></p>

<p><a href="/users/sign_in">root/users/sign_in/</a></p>
<p><a href="/users/sign_out">root/users/sign_out/</a></p>