<h1>Submissions#show</h1>
<p>Find me in app/views/submissions/show.html.erb</p>


<table class="table">
  <tr><th>pid</th>
    <td><%= @submission.pId %></td></tr>
  <tr><th>uid</th>
    <td><%= @submission.uId %></td></tr>
  <tr><th>state</th>
    <td><%= @submission.state %></td></tr>
  <tr><th>ans</th>
    <td><%= @submission.answer %></td></tr>
  </tr>
</table>


<p class="link"><a href="/submissions">sub_index</a></p>
